# Environment variables
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other common files to ignore
node_modules/
.DS_Store
.vscode/

# Local configuration files (sdk path, etc)
local.properties

# API Keys and Secrets
*.properties
!gradle.properties
